# data
maze.txt

# Compiled object files
*.o

# Compiled static libraries
*.a

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
test
maze-solver
maze-generator
venv/

# Debug and log files
*.log

# Temporary files
*.tmp
*.bak
__pycache__

# Dependency files
*.d

# Build directories
build/
bin/
obj/
